﻿@model InternetProvider.ViewModels.ApplicationsListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="btn-group " style="float: right; margin-right: 90px;">
    <button type="button" class="btn btn-danger">Sort By</button>
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Time New", "SortByTimeOld", "Application")</li>
        <li>@Html.ActionLink("Time Old", "SortByTime", "Application")</li>
    </ul>
</div>
<h4>SearchByAccountNumber:</h4>
@using (Html.BeginForm("SearchByAccountNumber", "Application", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="col-xs-3"> @Html.TextBoxFor(model => model.AccountId, new {placeholder = "AccountId...", @class = "form-control input-md", required = "required"})</div>
    <input type="submit" value="Search"/>
}
@ViewBag.Error
<div class="col-md-10">
    <div class="wrapper">
        <div class="tablelist">
            <div class="row header">
                <div class="cell">
                    <span> Id</span>
                </div>
                <div class="cell">
                    <span> Account Number</span>
                </div>
                <div class="cell">
                    <span> FIO</span>
                </div>
                <div class="cell">
                    <span> Adress</span>
                </div>
                <div class="cell">
                    <span>Time</span>
                </div>
                <div class="cell">
                    <span>Rate</span>
                </div>
                <div class="cell">
                    <span>Additional Features</span>
                </div>
                <div class="cell">
                    <span>UserMoney</span>
                </div>
                <div class="cell">
                    <span>Status</span>
                </div>
                <div class="cell">
                    <span>Executing</span>
                </div>
            </div>
            @foreach (var item in Model.Applications)
            {
                <div class="row">
                    <div class="cell">
                        @item.Id
                    </div>
                    <div class="cell">
                        @item.AccountId
                    </div>
                    <div class="cell">
                        <span>@item.FirstName @item.LastName</span>
                    </div>
                    <div class="cell">
                        @item.Adress
                    </div>
                    <div class="cell">
                        @item.ApplicationTime
                    </div>
                    <div class="cell">
                        @if (item.Rate != null)
                        {
                            @item.Rate.Name
                        }
                    </div>
                    <div class="cell">
                        @foreach (var item2 in item.AdditionalFeatures)
                        {
                            @item2.Name
                        }
                    </div>
                    <div class="cell">
                        <span>@item.Account.Money</span>
                    </div>
                    <div class="cell">
                        <span>@item.Status</span> 
                    </div>
                    <div class="cell">
                        @if (item.Status == "New")
                        {
                            <a href="@Url.Action("Execute", "Application", new {id = item.Id})">Execute</a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>