﻿@model HandleErrorInfo
@{
    Layout = null;
}
<h1 class="errorHeader">@Model.Exception.GetType().Name</h1>
<h1 class="text-danger">Error.@Model.Exception.Message</h1>

<h2 class="text-danger">An error occurred while processing your request.</h2>
Back To @Model.ControllerName/@Model.ActionName