﻿@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link href="/Content/Style404.css" rel="stylesheet" type="text/css"/>

    <title>NotFound</title>

</head>
<body>
<div>
    <div class="hit-the-floor">404</div>
    <h2>Page not found</h2>
    @Html.ActionLink("Back home", "Index", "Home")
</div>
</body>
</html>