﻿@model Blog.ViewModel.PostsViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Admin", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>Title:</label>
        @Html.TextBoxFor(model => model.Title, new {placeholder = "Title...", @class = "display", required = "required"})
    </div>
    <div class="form-group">
        <label>Creator:</label>
        @Html.TextBoxFor(model => model.Creator, new {placeholder = "Creator...", @class = "display", required = "required"})
    </div>
    <div class="form-group">
        <label>Text(>200 characters):</label>
        @Html.TextAreaFor(model => model.Text, new {placeholder = "Text...", @class = "display textarea", required = "required", minlength = "200"})
    </div>
    <div class="form-group">
        <label>Groups:</label>
        @Html.DropDownList("postGroup", ViewBag.List as SelectList, "Select Group")
    </div>
    <div class="form-group">
        <label>Picture:</label>
        <input type="file" name="imageFile" .../>
    </div>
    <div class="form-group">
        <label>Tags:</label>
        @Html.ListBoxFor(m => m.SelectedTags, new MultiSelectList(Model.Tags, "Id", "Name", Model.SelectedTags))
    </div>

    <button type="submit" id="LogIn" class="styled-button-1">Create</button>
}