﻿@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Delete", "Admin", FormMethod.Post))
{
    <div class="form-group">
        <label>Enter the Id of the article:</label>
        <input name="artnumber" type="text" class="display" required placeholder="Id...."/>
    </div>
    <button type="submit" id="LogIn" class="styled-button-1">Delete</button>
}