﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shadowblockmenu-v">
    <ul>
        <li>@Html.ActionLink("Create article", "Create", new {area = "Admin", controller = "Admin"})</li>
        <li>@Html.ActionLink("Delete article", "Delete")</li>
        <li>@Html.ActionLink("Show all articles", "ShowAll", "ShowAllPosts")</li>
    </ul>
</div>