html, body {
    font-size: 13px;
    height: 100%;
    line-height: 18px;
}

body { background: #f9f9f9 url(/Images/page-bg-1.jpg); }

.main-container {
    height: auto;
    height: 100%;
    min-height: 100%;
}

@media (max-width: 767px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }

    .container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/***** Titles and Headings *****/

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5 { text-shadow: 1px 1px 0 #fdfdfd, 2px 2px 0 rgba(81, 81, 81, 0.5), 0 0 1px #fdfdfd; }

h1.title-bg, h2.title-bg, h3.title-bg, h4.title-bg, h5.title-bg, h6.title-bg {
    background: #f8f8f8;
    border-bottom: 1px dotted #a9a9a9;
    border-top: 1px dotted #a9a9a9;
    margin: 0px 0px 20px 0px;
    padding: 10px 5px;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { color: #7f7f7f; }

h2 small { font-size: 30px; }

h5 small { font-size: 14px; }

h6 small { font-size: 12px; }

h5.title-bg button {
    float: right;
    margin-left: 5px;
    text-transform: none;
}

/***** Links *****/

a, a:hover { color: #d8450b; }

/***** Misc *****/

i { margin-right: 3px; }

p { margin-bottom: 20px; }

blockquote {
    border-left: 5px solid #999;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
}

blockquote.pull-right { border-right: 5px solid #999; }


/**************************************
/ Header
**************************************/

.logo { margin-top: 40px; }

.logo img { padding-right: 20px; }

.logo h5 { display: inline-block; }

.headline { margin-bottom: 20px; }

/* Landscape phones and down */

@media (max-width: 480px) {
    .logo, .navigation { text-align: center; }

    .row.header { margin-bottom: 30px; }

    .logo h5 { display: block; }
}

/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 1199px) {
    .headline .lead { display: none; }
}


/* Portrait tablet */

@media (min-width: 768px) and (max-width: 979px) {
    .navbar .nav > li > a { padding: 10px 10px 10px; }
}

ul.nav {
    margin: 0;
    margin-left: 300px;
    margin-top: 50px;
    padding: 4px;
}

ul.nav li {
    border: 1px solid #000;
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

/* Clip descriptions */

li.span4 .project-details {
    -o-text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 280px;
}

li.span3 .project-details {
    -o-text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}

li.span2 .project-details {
    -o-text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
}

}

/* Portrait tablet to landscape */ 

@media (min-width: 768px) and (max-width: 979px) {
    /* Clip descriptions */
    li.span2 .project-details { display: none; }

    li.span3 .project-details {
        -o-text-overflow: ellipsis;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 146px;
    }

    li.span4 .project-details {
        -o-text-overflow: ellipsis;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 208px;
    }
}

/* Landscape phones and down */

@media (max-width: 480px) {
    .project-details {
        text-align: center;
        width: 250px;
    }

    .gallery-post-grid { text-align: center }

    .project-details {
        margin-left: auto;
        margin-right: auto;
    }

    .gallery { text-align: center; }

    .gallery-cats { display: none; }

    li.span2 .project-details {
        -o-text-overflow: ellipsis;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 150px;
    }
}

/* Mobile Landscape Size */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    li.span4 .project-details { width: 350px; }
}

/* Mobile Portrait Size */

@media only screen and (max-width: 479px) {
    li.span4 .project-details { width: 260px; }
}

.project-details {
    background: #f8f8f8;
    border-bottom: 1px dotted #a9a9a9;
    display: block;
    font-family: Georgia;
    font-style: italic;
    height: auto;

    max-width: 100%;
    padding: 10px;
    width: auto\9;
}

.project-details a {
    display: block;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin: 0px;
    text-shadow: none;
    text-transform: uppercase;
}

.project-details { color: #6f6f6f; }

.project-details a { color: #333333; }

.project-details a:hover {
    color: #d8450b;
    text-decoration: none;
}

.project-info { margin: 0px 0px 40px 0px; }

.project-info li {
    border-bottom: 1px dashed #a9a9a9;
    list-style: none;
    ;
    padding: 10px;
}

.project-info li h6 {
    display: inline;
    margin-right: 5px;
}

/*** Blog on Home Page ***/

.blog-summary { line-height: 18px; }

.post-info-shade { background: #f8f8f8; }

.post-info {
    line-height: 20px;
    padding-top: 10px;
}

.post-info h4 {
    line-height: 26px;
    margin-top: 0px;
}

.post-info h4 a, .post-info h4 a:hover {
    color: #333;
    text-decoration: none;
}

.post-info ul li {
    list-style: none;
    margin: 0px;
    padding-bottom: 2px;
}

.post-preview { line-height: 20px; }

/* All Sizes up to Large Desktop */

@media only screen and (max-width: 1199px) {
    .post-info h4 { clear: both; }

    .blog-details-preview {
        border: 1px solid #000;
        display: none;
    }
}

/*** Blog List Page ***/

.blog article,
.blog section { margin-bottom: 40px; }

.blog article h3 { margin-top: 0px; }

.blog article h3 a, .blog article h4 a,
.blog article h3 a:hover, .blog article h4 a:hover {
    color: #333333;
    text-decoration: none;
}

.blog h4 { line-height: 26px; }

/* Mobile Landscape Size */

@media only screen and (max-width: 479px) {
    .blog h4 { width: 260px; }
}

.post-summary {
    background: #f8f8f8;
    overflow: auto;
    padding-bottom: 20px;
}

.post-summary p {
    margin: 0px;
    padding: 20px;
}

.post-summary-footer {
    margin: 0px;
    padding: 0px 20px;
}

.post-summary-footer button {
    float: left;
    margin: 0px;
}

ul.post-data { float: right; }

ul.post-data-3 { margin-top: 20px; }

ul.post-data li, ul.post-data-3 li {
    border-left: 1px dotted #a9a9a9;
    float: left;
    list-style: none;
    padding: 0px 10px;
}

ul.post-data li:first-child,
ul.post-data-3 li:first-child {
    border: none;
    padding-left: 0px;
}

ul.post-data li:last-child { padding-right: 0px; }

/* Small Desktop Size */

@media (min-width: 980px) and (max-width: 1199px) {
    ul.post-data-3 li:last-child { display: none; }
}

/* Portrait tablet */

@media (min-width: 768px) and (max-width: 979px) {
    .post-summary-footer button {
        float: none;
        margin-bottom: 20px;
    }

    .blog article button {
        clear: both;
        float: left;
        margin-bottom: 20px;
    }

    ul.post-data-3 { display: none; }

    ul.post-data {
        clear: both;
        float: none;
        margin: 0px;
    }

    ul.post-data li:last-child {
        -o-text-overflow: ellipsis;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 120px;
    }
}

.blog-style-2 h4 {
    margin-bottom: 10px;
    margin-top: 0px;
}

.blog-style-2 ul.post-data { margin: 0px 0px 20px 0px; }

.blog-style-2 ul.post-data li {
    border: none;
    float: none;
    margin: 0px;
    padding: 5px 0px 0px 0px;
}

.blog-post-grid { margin: 0px; }

.blog-post-grid li {
    float: left;
    list-style: none;
    margin-bottom: 30px;
}

.blog-post-hover {
    background: url(../img/post-item-hover.png);
    display: none;
    height: 220px;
    position: absolute;
    width: 270px;
    z-index: 10;
}

.blog-post-hover p {
    color: #f8f8f8;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    padding: 20px;
}

.blog-post-hover a {
    color: #f8f8f8;
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
    text-transform: uppercase;
}

.blog-post-hover a:hover {
    color: #d8450b;
    text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .blog-post-hover {
        height: 179px;
        width: 220px;
    }

    .blog-post-hover a {
        font-size: 20px;
        line-height: 24px;
    }
}

/* All Mobile Sizes */

@media only screen and (max-width: 767px) {
    .post-summary-footer { display: none; }

    .post-summary { padding-bottom: 0px; }

    .blog-style-2 { display: none; }
}

/*** Blog Full Page ***/

.post-content {
    background: #f8f8f8;
    overflow: auto;
}

.post-body { padding: 20px; }

.about-author img {
    float: left;
    margin-right: 20px;
}

/*** Comments ***/

.comments ul { margin: 0px; }

.comments ul li {
    background: #f8f8f8;
    border-bottom: 1px dotted #a9a9a9;
    border-top: 1px dotted #a9a9a9;
    list-style: none;
    margin-bottom: 40px;
    padding: 20px;
}

.comments ul li ul {
    margin-left: 40px;
    padding-top: 20px;
}

.comments ul li ul li {
    border-bottom: none;
    border-top: 1px dotted #a9a9a9;
    margin-bottom: 0px;
    padding: 20px 20px;
}

.comments ul li ul li:last-child { padding-bottom: 0px; }

.comments ul li img { margin: 0px 10px 10px 0px; }

.comment-name {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.comment-date {
    clear: both;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}

.comment-content {
    clear: both;
    padding-top: 10px;
}

.comment-form-container input,
#contact-form input { margin-bottom: 12px; }

.comment-form-container textarea,
#contact-form textarea { height: 150px; }

.comment-form-container .btn,
#contact-form .btn { margin-top: 12px; }


/**************************************
/ Sidebar
**************************************/

.sidebar input { width: 80%; }

.sidebar h5 { margin-top: 40px; }

.sidebar ul.post-category-list,
.sidebar .tab-content .tab-pane ul { margin: 0px; }

.sidebar ul.post-category-list li,
.sidebar .tab-content .tab-pane ul li {
    border-bottom: 1px dashed #a9a9a9;
    list-style: none;
    padding: 10px 5px;
}

.sidebar ul.post-category-list li a {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.sidebar ul.post-category-list li:first-child,
.sidebar .tab-content .tab-pane ul li:first-child { padding-top: 0px; }

.sidebar ul.post-category-list li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.sidebar ul.post-category-list li i {
    background-position: 0 -95px;
    padding-right: 5px;
}

.sidebar .tab-content .tab-pane ul li i { padding-right: 5px; }

.popular-posts { margin: 0px; }

.popular-posts li {
    clear: both;
    display: block;
    list-style: none;
    margin-bottom: 20px;
    min-height: 70px;
}

.popular-posts li a,
.popular-posts li a:hover {
    color: #333333;
    text-decoration: none;
}

.popular-posts li img {
    float: left;
    margin-right: 20px;
}

.popular-posts li em { font-family: Georgia, "Times New Roman", Times, serif; }

p.side { margin-bottom: 20px; }

/**************************************
/ Footer
**************************************/

.footer-container {
    background: #333;
    clear: both;
    position: relative;
    width: 100%;
}

.footer-row { margin-top: 30px; }

.footer-col {
    color: #ababab;
    font-size: 11px;
}

ul.img-feed li {
    float: left;
    margin: 0px 7px 7px 0px;
    padding-bottom: 0px;
}

/**** Sub Footer ****/

.footer-sub {
    background: #1f1f1f;
    padding: 10px 0px;
}

.footer-sub div div span { padding: 0px 20px; }


/**************************************
/ MISC
**************************************/

.row { margin-bottom: 40px; }

.sub-row30 { margin-bottom: 30px; }

.sub-row20 { margin-bottom: 20px; }

.no-margin { margin-bottom: 0px; }

a.accordion-toggle { background: #f5f5f5; }

.nav-tabs li.active a { background: #f8f8f8; }

@media only screen and  (max-width: 767px) {
    .btn { margin-bottom: 20px; }
}

.left { float: left; }

.right { float: right; }

.align-left {
    float: left;
    margin: 0px 20px 20px 0px;
}

.align-right {
    float: right;
    margin: 0px 0px 20px 20px;
}

.color-bg { background: #d8450b; }

.color { color: #d8450b; }

.color-bar-1, .color-bar-2 { width: 100% }

.color-bar-1 {
    background: #414141;
    height: 5px;
}

.color-bar-2 { height: 3px; }

.page-header { margin: 0px }

.lead {
    line-height: 28px;
    margin: 20px 0px 30px 0px;
}

/***** Testimonials *****/

.quote-text {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
    margin: 0px 20px;
}

.quote-text cite {
    color: #999;
    display: block;
    font-size: 12px;
    margin-top: 5px;
}

/***** Features Page (these can be deleted)*****/

.the-grid div {
    background: #e4e4e4;
    padding: 10px 0px;
    text-align: center;
}

.cont { margin-left: -55px; }

.txt {
    display: inline-block;
    margin-left: 450px;
    text-align: center;
}