﻿* {
    margin: 0;
    padding: 0;
}

a { text-decoration: none; }

body { font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif; }

header {
    background: url(/Images/maxresdefault.jpg) no-repeat;
    background-color: black;
    display: block;
    height: 305px;
    width: 100%;
}

header a {
    color: white;
    display: block;
    padding: 20px;
    text-align: left;
}

.container {
    padding-left: 150px;
    width: 80%;
}

header p { color: white; }

aside {
    background: #f0f0f0;
    background-color: black;
    float: right;
    font-size: 21px;
    height: 250px;
    padding: 10px;
    width: 200px;
}

aside a { color: white; }

aside a:hover { color: red; }

main { width: 800px; }

footer {
    background: black;
    color: #fff;
    font-size: 21px;
    height: 60px;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

header h2 { color: white; }

.contact_form label {
    display: inline-block;
    float: left;
    width: 150px;
}

.contact_form input[type="text"] {
    border: 1px solid #aaa;
    border-radius: 2px;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    height: 20px;
    margin-top: 15px;
    padding: 5px 8px;
    padding-right: 30px;
    width: 300px;
}

.contact_form input:focus {
    background: #fff;
    border: 1px solid #555;
    box-shadow: 0 0 3px #aaa;
}


.textarea {
    border: 1px solid #aaa;
    border-radius: 2px;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    height: 150px;
    padding: 8px;
    resize: none;
    width: 320px;
}

.styled-button-1 {
    -moz-border-radius: 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    background-color: #FA2;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    color: #333;
    cursor: pointer;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 36px;
    margin-left: 35px;
    margin-top: 5px;
    padding: 4px 16px;
    text-shadow: #FE6 0 1px 0;
    width: 200px;
}

#results { background-color: linen; }

table {
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    height: 200px;
}

th {
    background: #56433D;
    border-right: 2px solid;
    color: #F9C941;
    font-size: 0.9em;
    padding: 10px 20px;
}

th:first-child { text-align: left; }

th:last-child { border-right: none; }

td {
    border-bottom: 2px solid #56433D;
    border-right: 2px solid #56433D;
    border-top: 2px solid #56433D;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

td:first-child {
    border-left: 2px solid #56433D;
    border-right: none;
}

td:nth-child(2) { text-align: left; }

.aside {
    display: block;
    float: right;
}

progress {
    -webkit-box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 3px 1px rgba(0, 0, 0, 0.2);
    background: white;
    border: 0;
    border-radius: 5px;
    box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 3px 1px rgba(0, 0, 0, 0.2);
    height: 25px;
    width: 240px;
}

progress::-webkit-progress-bar {
    -webkit-box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 3px 1px rgba(0, 0, 0, 0.2);
    background: #f1f1f1;
    border-radius: 5px;
    box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 3px 1px rgba(0, 0, 0, 0.2);
    height: 25px;
    width: 240px;
}

progress::-webkit-progress-value {
    background: #ffb76b;
    background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb76b), color-stop(50%, #ffa73d), color-stop(51%, #ff7c00), color-stop(100%, #ff7f04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* W3C */
    border-radius: 5px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb76b', endColorstr='#ff7f04', GradientType=0); /* IE6-9 */
}

progress::-moz-progress-bar {
    background: #ffb76b;
    background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb76b), color-stop(50%, #ffa73d), color-stop(51%, #ff7c00), color-stop(100%, #ff7f04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* W3C */
    border-radius: 5px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb76b', endColorstr='#ff7f04', GradientType=0); /* IE6-9 */
}

#blockr {
    margin-top: -700px;
    position: absolute;
    right: 55px;
}

input[type=radio] { width: 50px !important; }

.wrapper {
    display: block;
    font-size: 16px;
    margin-top: 10px;
}

.comments { width: 400px; }

.comment {
    margin-bottom: 20px;
    width: 100%;
}

.comment p { margin: 0 0 10px 0; }

.dialog {
    background: #fff;
    border-radius: 3px;
    color: #222;
    margin-left: 20px;
    padding: 20px;
    position: relative;
}

.dialog::after {
    border-bottom: 8px solid transparent;
    border-right: 15px solid #fff;
    border-top: 8px solid transparent;
    content: '';
    display: block;
    height: 0;
    left: -15px;
    position: absolute;
    top: 15px;
    width: 0;
}

.marg {
    margin-left: 68px;
    margin-top: -40px;
}

.rememb {
    font-size: 16px;
    margin-left: 68px;
    margin-top: 15px;
}

#LogIn {
    margin-left: 85px;
    margin-top: 15px;
}

.form-top { width: 385px; }

.form-bottom { width: 385px; }

.display { display: block; }

.shadowblockmenu-v {
    font: bold 14px Germand;
    width: 190px; /* width of menu */
}

.shadowblockmenu-v ul {
    border: 1px solid #eee;
    list-style: none;
    margin: 0;
    padding: 0;
}

.shadowblockmenu-v ul li {
    margin: 0;
    padding: 0;
}

.shadowblockmenu-v ul li a {
    -moz-box-shadow: inset 7px 0 10px rgba(114, 114, 114, 0.6); /* Add inset shadow to each menu item. First 3 values in (114,114,114, 0.5) specifies rgb values, last specifies opacity */
    -moz-transition: all 0.2s ease-in-out; /* Enable CSS transition between property changes */
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-box-shadow: inset 7px 0 10px rgba(114, 114, 114, 0.6);
    -webkit-transition: all 0.2s ease-in-out;
    border-bottom: 1px solid #cacaca;
    border-right: 1px solid #cacaca; /*right border between menu items*/
    box-shadow: inset 7px 0 10px rgba(114, 114, 114, 0.6);
    color: #494949;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 -1px 1px #cfcfcf; /* CSS text shadow to give text some depth */
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.shadowblockmenu-v ul li a:hover, .shadowblockmenu-v ul li a.selected {
    -moz-box-shadow: inset 7px 0 10px rgba(216, 89, 39, 0.5), inset 0 0 15px rgba(216, 89, 39, 0.6), inset 0 0 20px rgba(216, 89, 39, 0.8); /* Add 3 inset shadows to each menu item  */
    -webkit-box-shadow: inset 7px 0 10px rgba(216, 89, 39, 0.5), inset 0 0 15px rgba(216, 89, 39, 0.6), inset 0 0 20px rgba(216, 89, 39, 0.8);
    box-shadow: inset 7px 0 10px rgba(216, 89, 39, 0.5), inset 0 0 15px rgba(216, 89, 39, 0.6), inset 0 0 20px rgba(216, 89, 39, 0.8);
    color: black;
}

#listnone {
    color: black;
    display: inline-block;
    float: right;
    list-style-type: none;
    margin-bottom: 50px;
    text-align: center;
    width: 100px;
}

.log {
    display: block;
    float: right;
    margin-bottom: 50px;
    padding-left: 150px;
}

.out {
    float: right;
    margin-right: -370px;
    margin-top: 30px;
}

#listnone a {
    color: black;
    display: inline-block;
    padding-top: 5px;
}