﻿@model Blog.ViewModel.ApplicationFormViewModel

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryHome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryOffice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pay)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Phone)
        </td>
        <td>
            @if (Model.DeliveryHome)
            {
                @Html.DisplayFor(model => model.DeliveryHome)
            }
        </td>
        <td>
            @if (Model.DeliveryOffice)
            {
                @Html.DisplayFor(model => model.DeliveryOffice)
            }
        </td>
        <td>
            @Html.DisplayFor(model => model.Pay)
        </td>
    </tr>

</table>