﻿@model InternetProvider.ViewModels.AdditionalFeatureListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-title">
    <h2>Additional Services</h2>
</div>
<table class="table-fill">
    <thead>
    <tr>
        <th class="text-left">Name</th>
        <th class="text-left">Price($)</th>
        <th class="text-left"></th>
    </tr>
    </thead>
    <tbody class="table-hover">
    @foreach (var item in Model.AdditionalFeatures)
    {
        <tr>
            <td class="text-left">
                @item.Name
            </td>

            <td class="text-left">@item.Price</td>

            <td class="text-left">
                @Html.ActionLink("Add to Cart", "Order",
                    new {id = item.Id}, new {@class = "button button--wapasha button--round-l button--text-thick"})
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title center">Confirm</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(function() {
            $.ajaxSetup({ cache: false });
            $(".button")
                .click(function(e) {

                    e.preventDefault();
                    $.get(this.href,
                        function(data) {
                            $('.modal-body').html(data);
                            $('#myModal').modal('show');
                        });
                });
        })
    </script>
}