﻿@model BusinessObjects.Post

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<article class="clearfix">
    <a>
        <img src="data:image;base64,@Convert.ToBase64String(Model.Photo)" alt="Post" class="align-left">
    </a>
    <h4 class="title-bg">
        <a href="#">@Model.Title</a>
    </h4>
    <p>@Model.Text</p>
    <div class="post-summary-footer">
        <ul class="post-data-3">
            <li>
                <i class="icon-calendar"></i> @Model.PostDate
            </li>
            <li>
                <i class="icon-user"></i> <a href="#">@Model.Creator</a>
            </li>
            <li>
                <i class="icon-comment"></i> <span>@Model.NumberComments Comments</span>
            </li>
            <li>
                <i class="icon-tags"></i> <a href="#">@Model.PostGroup.Title</a>
            </li>
            <li>
                <span>Tags:</span>
                @foreach (var item in Model.Tags)
                {
                    <i class="icon-tags"></i>
                    @Html.ActionLink(item.Name, "PostsTags", new {area = "", controller = "ShowPosts", tagId = item.Id}, null)
                }
            </li>
        </ul>
    </div>
</article>