﻿@model Blog.ViewModel.VoteViewModel
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Title</th>
        <th>Sum</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Votes)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                <progress value=@item.Sum max="800"></progress><span class="spclass">@item.Sum</span>
            </td>
        </tr>
    }
    </tbody>
</table>