﻿@model Blog.ViewModel.PostsViewModel
@{
    ViewBag.Title = "HomePage";
}

@foreach (var item in Model.Posts)
{
    <article class="clearfix">
        <a>
            <img src="data:image;base64,@Convert.ToBase64String(item.Photo)" alt="Post" class="align-left">
        </a>
        <h4 class="title-bg">
            <a href="#">@item.Title</a>
        </h4>
        <p>@item.Text.Substring(0, 200)...</p>
        @using (Html.BeginForm("MoreDetails", "Home", FormMethod.Get, new {id = item.Id, target = "_self"}))
        {
            <input type="hidden" value=@item.Id name="id"/>
            <input type="submit" value="Read More"/>
        }
        <div class="post-summary-footer">
            <ul class="post-data-3">
                <li>
                    <i class="icon-calendar"></i> @item.PostDate</li>
                <li>
                    <i class="icon-user"></i> @Html.ActionLink(item.Creator, "UserPosts", "ShowPosts", new {name = item.Creator}, null)
                </li>
                <li>
                    <i class="icon-comment"></i> <span>@item.NumberComments Comments</span>
                </li>
                <li>
                    <i class="icon-tags"></i> <a href="#">@Html.ActionLink(item.PostGroup.Title, "GroupPosts", "ShowPosts", new {title = item.PostGroup.Title}, null)
                </li>
            </ul>
        </div>
    </article>
}


<div class="aside span4 sidebar" id="blockr">
    <h5 class="title-bg">Vote</h5>
    <em>What language do you prefer?</em>

    @using (Ajax.BeginForm("Vote", "Home", new AjaxOptions {UpdateTargetId = "results"}))
    {
        for (var i = 0; i < Model.Votes.Count(); i++)
        {
            <div class="wrapper">
                @Html.RadioButtonFor(model => model.SelectedResponse, Model.Votes[i].Id, new {id = Model.Votes[i].Id})
                @Html.DisplayFor(model => model.Votes[i].Title)
            </div>
        }
        <input type="submit" value="Vote" id="hide" class="styled-button-1"/>
    }

    <div id="results"></div>
</div>
<script type="text/javascript">
    $(function() {
        $('#hide')
            .click(function() {
                document.getElementById("hide").disabled = true;
            });
    });
</script>