﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<nav>
    <ul class="navig">
        <li>@Html.ActionLink("Create", "Create", null, new {target = "_self"})</li>
        <li>
            @Html.ActionLink("Update", "AdditionalFeaturesList", null, new {target = "_self"})
        </li>
        <li>
            @Html.ActionLink("Delete", "AdditionalFeaturesListDelete", null, new {target = "_self"})
        </li>
    </ul>
</nav>