﻿@model Blog.Models.LogInModel
<div class="form-top">
    <div class="form-top-left">
        <h2>Sign In</h2>
    </div>
    <div class="form-top-right">
        <i class="fa fa-lock"></i>
    </div>
</div>
<div class="form-bottom">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {@class = "login-form"}))
    {
        @Html.AntiForgeryToken()
        <div class="form-group col-md-2">
            <label for="form-username">Email:</label>
            <div class="marg">
                @Html.TextBoxFor(model => model.Email, new {name = "form-username", placeholder = "Email...", @class = "form-username form-control", id = "form-username", pattern = @"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$", required = "required"})
            </div>
        </div>
        <div class="form-group col-md-2">
            <label for="form-password">Password:</label>
            @Html.PasswordFor(model => model.Password, new {name = "form-password", placeholder = "Password...", @class = "form-password form-control", id = "form-password", required = "required"})
        </div>
        <div class="form-group">
            <div class="rememb">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new {@class = "checkbox"})
            </div>
        </div>
        <input type="submit" value="Sign In" id="LogIn" class="styled-button-1"/>
    }
</div>