﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<nav>
    <ul class="navig">
        <li>
            @Html.ActionLink("Update", "CommentsList", null, new {target = "_self"})
        </li>
        <li>
            @Html.ActionLink("Delete", "CommentsListDelete", null, new {target = "_self"})
        </li>
    </ul>
</nav>