﻿@model InternetProvider.ViewModels.CommentViewModel

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            @using (Html.BeginForm("Create", "Comment", FormMethod.Post, new {@class = "form-horizontal"}))
            {
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                <fieldset>
                    <legend>Update Data</legend>
                    <div class="row">
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.NewsId)
                        <div class="form-group">
                            <label class="col-md-4 control-label">AuthorName</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.AuthorName, new {placeholder = "AuthorName...", @class = "form-control input-md", required = "required"})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Time</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Time, new {placeholder = "Time...", @class = "form-control input-md", required = "required"})
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group">
                            <label class="col-md-4 control-label">UserComm</label>
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.UserComm, new {placeholder = "Text...", @class = "textarea", required = "required"})
                            </div>
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="save"></label>
                        <div class="col-md-12">
                            <button type="submit" id="save" name="save" class="styled-button-1">Update</button>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>