﻿@model InternetProvider.ViewModels.ServiceViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            @ViewBag.Message
            @using (Html.BeginForm("Save", "Services", FormMethod.Post, new {@class = "form-horizontal"}))
            {
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                <fieldset>
                    <legend>Create New Service</legend>
                    <div class="row">
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            <label class="col-md-4 control-label">Name</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Name, new {placeholder = "Name...", @class = "form-control input-md", required = "required"})
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="save"></label>
                        <div class="col-md-12">
                            <button type="submit" id="save" name="save" class="styled-button-1">Create</button>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>