﻿@model InternetProvider.ViewModels.ServiceListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@ViewBag.Message
<div class="col-md-10">
    <div class="wrapper">
        <div class="tablelist">
            <div class="row header">
                <div class="cell">
                    <span> Id</span>
                </div>
                <div class="cell">
                    <span>Name</span>
                </div>
            </div>
            @foreach (var item in Model.Services)
            {
                <div class="row">

                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.Id)
                    </div>
                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                    <div class="cell">
                        <a href="@Url.Action("Delete", "Services", new {id = item.Id})" onclick="return confirm('Are you sure you wish to delete this Service?')" class="icons glyphicon glyphicon-remove"></a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>