﻿@model InternetProvider.ViewModels.ContactPageViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="form-main">
    <div id="form-div">
        @ViewBag.Message
        @using (Html.BeginForm("Contact", "ContactInformation", FormMethod.Post, new {@class = "form", id = "form1"}))
        {
            <p class="name">
                @Html.TextBoxFor(model => model.Name, new {placeholder = "Name", @class = "feedback-input", id = "name"})
            </p>

            <p class="email">
                @Html.TextBoxFor(model => model.Email, new {placeholder = "Email", @class = "feedback-input", id = "email"})
            </p>

            <p class="name">
                @Html.TextBoxFor(model => model.Subject, new {placeholder = "Subject", @class = "feedback-input", id = "comment"})
            </p>

            <p class="text">
                @Html.TextAreaFor(model => model.Message, new {placeholder = "Message", @class = "feedback-input", id = "comment"})
            </p>

            <div class="submite">
                <input type="submit" value="SEND" id="button-blue"/>
                <div class="ease"></div>
            </div>
        }
    </div>
</div>