﻿@model InternetProvider.ViewModels.LogInViewModel
<div class="row">
    <div class="col-sm-5 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h2>Sign In</h2>
                @ViewBag.Message
            </div>
            <div class="form-top-right">
                <i class="fa fa-lock"></i>
            </div>
        </div>
        <div class="form-bottom">
            @using (Html.BeginForm("Index", "LogIn", FormMethod.Post))
            {
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label>Email:</label>
                    @Html.TextBoxFor(model => model.Email, new {name = "form-username", placeholder = "Email...", @class = "form-control", id = "form-username", pattern = @"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$", required = "required", type = "text"})
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    @Html.PasswordFor(model => model.Password, new {name = "form-password", placeholder = "Password...", @class = "form-control", id = "form-password", required = "required"})
                </div>
                <div class="form-group">
                    <div>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
                <input type="submit" value="Sign In" id="LogIn" class="styled-button-1"/>
            }
        </div>
    </div>
</div>