﻿@using Blog.Helpers
@model Blog.ViewModel.ApplicationFormViewModel


@using (Html.BeginForm("Result", "Application", FormMethod.Post, new {@class = "contact_form"}))
{
    @Html.AntiForgeryToken()

    <table>
        <tr>
            <td align="right">Name:</td>
            <td>
                @Html.TextBoxFor(model => model.Name, new {required = "required"})
                @Html.ValidationMessageFor(model => model.Name)
            </td>
        </tr>

        <tr>
            <td align="right">E-mail:</td>
            <td>
                @Html.TextBoxFor(model => model.Email, new {required = "required", pattern = @"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"})
                @Html.ValidationMessageFor(model => model.Email)
            </td>
        </tr>

        <tr>
            <td align="right">Phone:</td>
            <td>
                @Html.TextBoxFor(model => model.Phone, new {required = "required"})
                @Html.ValidationMessageFor(model => model.Phone)
            </td>
        </tr>
        <tr>
            <td align="right">Pay:</td>
            <td>
                <p>
                    @Html.RadioButtonFor(model => model.Pay, "Cash")
                    @Html.Label("Cash")
                </p>
                <p>
                    @Html.RadioButtonFor(model => model.Pay, "Card")
                    @Html.Label("Card")
                </p>
                <p>
                    @Html.RadioButtonFor(model => model.Pay, "Upon receiving")
                    @Html.Label("Upon receiving")
                </p>
            </td>
        </tr>
        <tr>
            <td align="right">Delivery:</td>
            <td>
                <p>
                    @Html.CheckBoxFor(model => model.DeliveryHome)
                    @Html.Label("Home delivery")
                </p>
                <p>
                    @Html.CheckBoxFor(model => model.DeliveryOffice)
                    @Html.Label("Delivery from office")
                </p>
            </td>
        </tr>
        <tr>
            <td align="right"></td>
            <td>
                <input type="submit" name="submit" class="styled-button-1" value="Send">
            </td>
        </tr>
    </table>
}

<h2>We offer:</h2>

@Html.ListHelper(Model.ListForCustomHelper)