﻿@model Blog.ViewModel.PostsViewModel
@{
    ViewBag.Title = "HomePage";
}

@foreach (var item in Model.Posts)
{
    <article class="clearfix">
        <a>
            <img src="data:image;base64,@Convert.ToBase64String(item.Photo)" alt="Post" class="align-left">
        </a>
        <h4 class="title-bg">
            <a href="#">@item.Title</a>
        </h4>
        <p>@item.Text</p>
        <div class="post-summary-footer">
            <ul class="post-data-3">
                <li>
                    <i class="icon-calendar"></i> @item.PostDate
                </li>
                <li>
                    <i class="icon-user"></i> @Html.ActionLink(item.Creator, "UserPosts", "ShowPosts", new {name = item.Creator}, null)
                </li>
                <li>
                    <i class="icon-comment"></i> <a href="#">@item.NumberComments Comments</a>
                </li>
                <li>
                    <i class="icon-tags"></i> <span>@item.PostGroup.Title</span>
                </li>
            </ul>
        </div>
    </article>
}