﻿@model UkadTask.ViewModels.ResponseTimesViewModel
<link href="/Content/Styles.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<a href="@Url.Action("Index", "Home")" class="submit">
    <div class="textZ">Home</div>
</a>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Url</th>
        <th>Speed(ms)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ResponseTimes)
    {
        <tr>
            <td>
                @item.Url
            </td>
            <td>
                <progress value=@item.CurrentResponseTime max="800"></progress><span class="spclass">@item.CurrentResponseTime</span>
            </td>
        </tr>
    }
    </tbody>
</table>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ResponseTimes.FirstOrDefault().Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResponseTimes.FirstOrDefault().CurrentResponseTime)@Html.Label("(ms)")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResponseTimes.FirstOrDefault().MinResponseTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResponseTimes.FirstOrDefault().MaxResponseTime)
        </th>
    </tr>

    @foreach (var t in Model.ResponseTimes)
    {
        <tr>
            <td>
                @t.Url
            </td>
            <td>
                @t.CurrentResponseTime
            </td>
            <td>
                @t.MinResponseTime
            </td>
            <td>
                @t.MaxResponseTime
            </td>
        </tr>
    }
</table>