﻿#please-wait {
    -moz-border-radius: 5px;
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background: #eee url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
    height: 200px;
    left: 50%;
    margin-top: 200px;
    position: absolute;
    top: 50%;
    width: 350px;
    z-index: 5000;
}

#please-wait .text {
    color: #666;
    font-family: arial;
    font-size: 21px;
    margin: 13px;
    padding: 10px;
    /* style the content */
    text-align: left;
}

progress {
    -webkit-box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 3px 1px rgba(0, 0, 0, 0.2);
    background: white;
    border: 0;
    border-radius: 5px;
    box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 3px 1px rgba(0, 0, 0, 0.2);
    height: 25px;
    width: 400px;
}

progress::-webkit-progress-bar {
    -webkit-box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 3px 1px rgba(0, 0, 0, 0.2);
    background: #f1f1f1;
    border-radius: 5px;
    box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 3px 1px rgba(0, 0, 0, 0.2);
    height: 25px;
    width: 400px;
}

progress::-webkit-progress-value {
    background: #ffb76b;
    background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb76b), color-stop(50%, #ffa73d), color-stop(51%, #ff7c00), color-stop(100%, #ff7f04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* W3C */
    border-radius: 5px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb76b', endColorstr='#ff7f04', GradientType=0); /* IE6-9 */
}

progress::-moz-progress-bar {
    background: #ffb76b;
    background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb76b), color-stop(50%, #ffa73d), color-stop(51%, #ff7c00), color-stop(100%, #ff7f04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* W3C */
    border-radius: 5px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb76b', endColorstr='#ff7f04', GradientType=0); /* IE6-9 */
}

input[type="url"] {
    -moz-transition: padding .25s;
    -o-transition: padding .25s;
    -webkit-transition: padding .25s;
    border: 1px solid #aaa;
    border-radius: 8px;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    font-size: 15px;
    height: 30px;
    margin-bottom: 25px;
    padding: 5px 8px;
    transition: padding .25s;
    width: 320px;
}

input[type='url']:focus {
    background: #fff;
    border: 1px solid #555;
    border-radius: 8px;
    box-shadow: 0 0 3px #aaa;
}

input[type='submit'] {
    background: linear-gradient(to bottom, #0bc408 0%, #09a206 100%);
    border: 0;
    border-bottom: 1px solid #0e780c;
    border-left: 1px solid #0e780c;
    border-radius: 8px;
    border-right: 1px solid #0e780c;
    border-top: 1px solid #87c286;
    box-shadow: 0 -1px 0 #0e780c, 0 1px 0 #fff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    padding: 4px 0 5px 0;
    text-shadow: 0 1px 0 #757575;
    width: 150px;
}

.cont {
    display: block;
    margin-left: 150px;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

.spclass { margin-left: 10px; }

.lblclass {
    font-size: 18px;
    margin-left: -430px;
}

.empty {
    color: red;
    font-size: 21px;
    text-align: center;
}

.submit { text-decoration: none; }

.submit:hover { text-decoration: none; }

.textZ {
    background: linear-gradient(to bottom, #0bc408 0%, #09a206 100%);
    border: 0;
    border-bottom: 1px solid #0e780c;
    border-left: 1px solid #0e780c;
    border-radius: 8px;
    border-right: 1px solid #0e780c;
    border-top: 1px solid #87c286;
    box-shadow: 0 -1px 0 #0e780c, 0 1px 0 #fff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    padding: 4px 0 5px 0;
    text-align: center;
    text-shadow: 0 1px 0 #757575;
    width: 150px;
}