﻿@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Alex Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/Style.css")
    @Scripts.Render("~/scripts/jquery-3.1.0.min.js")
    @Scripts.Render("~/scripts/jquery-ui-1.12.0.js")
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/custom-styles.css")
    @Styles.Render("~/Content/bootstrap-responsive.css")
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="~/Content/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/form-elements.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <link rel="shortcut icon" href="~/Content/assets/ico/favicon.png">
</head>
<body>
<div class="color-bar-1"></div>
<div class="color-bar-2 color-bg"></div>

<div class="container main-container">

    <div class="row header">

        <div class="span5 logo">
            <h2>@Html.ActionLink("Alex Blog", "Index", new {area = "", Controller = "Home"})</h2>
        </div>
        <div class="span7 navigation">
            <section id="login">
                @Html.Partial("_LoginPartial")
            </section>
            <ul class="nav">
                <li>@Html.ActionLink("Home", "Index", new {area = "", Controller = "Home"})</li>
                <li>Contact</li>
            </ul>
        </div>

        <div class="row">
            <div class="span8 blog">
                <div>
                    @RenderBody()
                </div>
            </div>
            <div class="span4 sidebar">
                <h5 class="title-bg">Menu</h5>
                <ul class="post-category-list">
                    <li>@Html.ActionLink("Home", "Index", new {area = "", Controller = "Home"})</li>
                    <li>@Html.ActionLink("Guest", "Index", new {area = "", Controller = "Guest"})</li>
                    <li>@Html.ActionLink("Application", "Index", new {area = "", Controller = "Application"})</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cont">
        <div class="row">
            <div class="span12 footer-col footer-sub">
                <div class="txt">Copyright 2016 Alex Blog. All rights reserved.</div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>