﻿@if (Request.IsAuthenticated)
{
    <p class="log">
        Здравствуйте, @Html.ActionLink(User.Identity.Name, "Manage", "Account", null, new {@class = "username", title = "Управление"})!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" class="out">Выйти</a>
        }
    </p>
}
else
{
    <li id="listnone" class="styled-button-1">@Html.ActionLink("Registration", "Register", "Registration", null, new {id = "registerLink"})</li>
    <li id="listnone" class="styled-button-1">@Html.ActionLink("LogIn", "Login", "Account", null, new {id = "loginLink"})</li>
}