﻿@model InternetProvider.ViewModels.RateListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@ViewBag.Message
<div id="result_tab">
    <div class="col-md-10">
        <div class="wrapper">
            <div class="tablelist">
                <div class="row header">
                    <div class="cell">
                        <span> Name</span>
                    </div>
                    <div class="cell">
                        <span>Description</span>
                    </div>
                    <div class="cell">
                        <span> Price</span>
                    </div>
                </div>
                @foreach (var item in Model.Rates)
                {
                    <div class="row">

                        <div class="cell">
                            @Html.DisplayFor(modelItem => item.Name)
                        </div>
                        <div class="cell">
                            @Html.DisplayFor(modelItem => item.Description)
                        </div>
                        <div class="cell">
                            @Html.DisplayFor(modelItem => item.Price)
                        </div>
                        <div class="cell">
                            <a href="@Url.Action("Delete", "Rates", new {id = item.Id})" onclick="return confirm('Are you sure you wish to delete this Rate?')" class="icons glyphicon glyphicon-remove"></a>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>