﻿@model UkadTask.ViewModels.EnteredLinkViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="marginclass">
            <div class="col-lg-6">
                <div class="input-group">
                    @using (Ajax.BeginForm("Index", "Home", new AjaxOptions {HttpMethod = "POST", LoadingElementId = "please-wait", UpdateTargetId = "results"}))
                    {
                        <div class="cont">
                            <label class="lblclass">Url:</label>
                            <br/>
                            @Html.TextBoxFor(model => model.Url, new {type = "url", required = "required"})
                            <input type="submit" id="hide" value="Test Now"/>
                        </div>
                    }
                </div>
                <div id="please-wait" style="display: none;">
                    <div class="text">Loading...</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="hd">
    @if (!Model.EnteredLinks.Any())
    {
        <p class="empty"> History is empty now</p>
    }
    else
    {
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Url</th>
                <th>Tested</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.EnteredLinks)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("History", "History", new {testT = item.TestedTime.ToString("yyyy-MM-dd HH:mm:ss")})">@item.Url</a>
                    </td>
                    <td>
                        <abbr class="timeago" title="@item.TestedTime.ToString("yyyy-MM-dd HH:mm:ss")"></abbr>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>
<div id="results"></div>