﻿@model InternetProvider.ViewModels.NewsCommentsViewModel


@foreach (var t in Model.Comments)
{
    <div class="comments">
        <div class="comment dialog">
            <p>@Html.Label("Author:") @t.AuthorName</p>

            <p>@Html.Label("Time:") @t.Time</p>

            @Html.Label("Comment:")
            <p>@t.UserComm</p>
        </div>
    </div>
}