﻿@using InternetProvider.Helpers
@model InternetProvider.ViewModels.NewsPagesViewModel
@{
    ViewBag.Title = "GetAllNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model.Newses)
{
    <div class="block">

        @foreach (var item2 in item.Picture)
        {
            <img src="@Url.Content(item2.PicturePath)" alt="img">
        }
        <p>Author: @item.Author</p>
        <p>Publication Date: @item.PublicationDate</p>
        <h4>@item.Title</h4>
        <p>@item.Text...</p>
        @Html.ActionLink("Read More", "MoreDetails", "News", new {id = item.Id}, new {target = "_self", @class = "btn btn-aqua right"})
    </div>
}

<span class="middle">
                 @Html.PageLinks(Model.PageInfo, x => Url.Action("GetAllNews", new {page = x}))
</span>