﻿@model InternetProvider.ViewModels.NewsCommentsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="blokk">
    <article class="clearfix">
        <a>
            @foreach (var item in Model.Picture)
            {
                <img src="@Url.Content(item.PicturePath)" alt="img"/>
            }
        </a>

        <p class="margin-top-15">
            Publication Date: @Model.PublicationDate
        </p>
        <p>
            Author: @Model.Author
        </p>
        <h2 class="title-bg">
            @Model.Title
        </h2>
        <p>@Model.Text</p>
    </article>
</div>
<div class="commentform">
    @using (Html.BeginForm("PostComment", "News", FormMethod.Post, new {@class = "contact_form"}))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        <table>
            <tr>
                @Html.HiddenFor(x => x.Id)
                <td>Name:</td>
                <td>@Html.TextBoxFor(model => model.AuthorName, new {required = "required"})</td>
            </tr>

            <tr>
                <td>Time:</td>
                <td>@Html.DisplayFor(model => model.Time)</td>
                @Html.HiddenFor(model => model.Time)
            </tr>

            <tr>
                <td>Comment:</td>
                <td>
                    @Html.TextAreaFor(model => model.UserComm, new {required = "required", @class = "textarea"})
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" name="submit" class="styled-button-1" value="Comment">
                </td>
            </tr>
        </table>
    }
</div>
@Html.Partial("_Comments")