﻿<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBoJ9WxBz-MDNhoTviz4xsv4ZhMmgbPEO8"></script>

<div id="canvas" style="height: 600px; margin: 0 auto; margin-top: 25px; width: 600px;"></div>

<!--Устанавливаем секцию scripts, которая затем будет рендериться на мастер-странице -->
@section scripts {
    <script type="text/javascript">

        $(document)
            .ready(function() {
                GetMap();
            });

        // Функция загрузки
        function GetMap() {

            window.google.maps.visualRefresh = true;
            // установка основных координат
            var ukraine = new window.google.maps.LatLng(49.0797, 33.4325);

            // Установка общих параметров отображения карты, как масштаб, центральная точка и тип карты
            var mapOptions = {
                zoom: 6,
                center: ukraine,
                mapTypeId: window.google.maps.MapTypeId.G_NORMAL_MAP
            };

            // Встраиваем гугл-карты в элемент на странице и получаем объект карты
            var map = new window.google.maps.Map(document.getElementById("canvas"), mapOptions);

            // Получаем данные
            var url = "/Map/GetData";
            $.getJSON(url,
                function(data) {
                    // Проходим по всем данным и устанавливаем для них маркеры
                    $.each(data,
                        function(i, item) {
                            var marker = new window.google.maps.Marker({
                                position: new window.google.maps.LatLng(item.GeoLat, item.GeoLong),
                                map: map
                            });
                        });
                });
        }
    </script>
}