﻿@model Blog.ViewModel.PostsViewModel

@{
    ViewBag.Title = "ShowAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Posts.FirstOrDefault().Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posts.FirstOrDefault().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posts.FirstOrDefault().PostDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posts.FirstOrDefault().Creator)
        </th>
    </tr>

    @foreach (var item in Model.Posts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator)
            </td>
        </tr>
    }
</table>