﻿@model Blog.Models.RegisterModel
<div class="form-top">
    <div class="form-top-left">
        <h2>Register</h2>
    </div>
    <div class="form-top-right">
        <i class="fa fa-pencil"></i>
    </div>
</div>
@ViewBag.Error
<div class="form-bottom">
    @using (Html.BeginForm("Register", "Registration", FormMethod.Post, new {@class = "registration-form"}))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="form-first-name">Name:</label>
            @Html.TextBoxFor(model => model.UserName, new {name = "form-first-name", placeholder = "Name...", @class = "display", id = "form-first-name", required = "required"})
        </div>
        <div class="form-group">
            <label>Password:</label>
            @Html.PasswordFor(m => m.Password, new {required = "required", @class = "display", placeholder = "Password..."})
        </div>
        <div class="form-group">
            <label>Confirm:</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new {required = "required", @class = "display", placeholder = "Confirm Password..."})
        </div>
        <div class="form-group">
            <label for="form-email">Email:</label>
            @Html.TextBoxFor(model => model.Email, new {name = "form-username", placeholder = "Email...", @class = "display", id = "form-email", pattern = @"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$", required = "required"})
        </div>
        <div class="form-group">
            <label>Birth Date:</label>
            @Html.TextBoxFor(m => m.Year, new {required = "required", @class = "display", type = "text", placeholder = "Birth Date...", id = "datepick"})
        </div>
        <button type="submit" id="LogIn" class="styled-button-1">Register</button>
    }
</div>

<script type="text/javascript">
    $(document)
        .ready(function() {
            $('#datepick')
                .datepicker({
                    maxDate: new Date,
                    minDate: new Date(1920, 6, 12),
                    changeMonth: true,
                    changeYear: true,
                    yearRange: '-90:+0'
                });
        });
</script>