﻿@model InternetProvider.ViewModels.UserViewModel
@{
    ViewBag.Title = "CommentsList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@ViewBag.Message
<div class="col-md-10">
    <div class="wrapper">
        <div class="tablelist">
            <div class="row header">
                <div class="cell">
                    <span>Account Number</span>
                </div>
                <div class="cell">
                    <span>Email</span>
                </div>
            </div>
            @foreach (var item in Model.Users)
            {
                <div class="row">
                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.Id)
                    </div>
                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.Email)
                    </div>
                    <div class="cell">
                        <a href="@Url.Action("BlockSuccess", "Users", new {id = item.Id})" onclick="return confirm('Are you sure you wish to block this Account?')" class="glyphicon glyphicon-ban-circle icons"></a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>