﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<nav>
    <ul class="navig">
        <li>@Html.ActionLink("Registration", "Registration", null, new {target = "_self"})</li>
        <li>
            @Html.ActionLink("Block", "Block", null, new {target = "_self"})
        </li>
        <li>
            @Html.ActionLink("UnBlock", "UnBlock", null, new {target = "_self"})
        </li>
        <li>
            @Html.ActionLink("InRoles", "UsersList", null, new {target = "_self"})
        </li>
        <li>
            @Html.ActionLink("Update", "UpdateUser", null, new {target = "_self"})
        </li>
    </ul>
</nav>