﻿@model InternetProvider.ViewModels.UserViewModel
@{
    ViewBag.Title = "UpdateUser";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@ViewBag.Message
<h2> Users</h2>
<div class="col-md-10">
    <div class="wrapper">
        <div class="tablelist">
            <div class="row header">
                <div class="cell">
                    <span>Email</span>
                </div>
                <div class="cell">
                    <span>Adress</span>
                </div>
                <div class="cell">
                    <span>FIO</span>
                </div>
                <div class="cell">
                    <span>Phone</span>
                </div>
                <div class="cell">
                    <span>Rates</span>
                </div>
            </div>
            @foreach (var item in Model.Users)
            {
                <div class="row">
                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.Email)
                    </div>
                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.Adress)
                    </div>
                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                    </div>
                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.Phone)
                    </div>
                    <div class="cell">
                        @foreach (var item2 in item.Account.Rates)
                        {
                            @item2.Name
                        }
                    </div>
                    <div class="cell">
                        @Ajax.ActionLink(" ", "EditAndUpdate", "Users", new {id = item.Id}, new AjaxOptions {UpdateTargetId = "res"}, new {@class = "glyphicon glyphicon-pencil icons"})
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div id="res"></div>