﻿@model InternetProvider.ViewModels.UserViewModel
@{
    ViewBag.Title = "CommentsList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@ViewBag.Message

<h2> Users</h2>
<div class="col-md-10">
    <div class="wrapper">
        <div class="tablelist">
            <div class="row header">
                <div class="cell">
                    <span>Email</span>
                </div>
                <div class="cell">
                    <span>Add Role</span>
                </div>
            </div>
            @foreach (var item in Model.UsersList)
            {
                <div class="row">
                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </div>
                    <div class="cell">
                        <a href="@Url.Action("AddRole", "Users", new {Username = item.UserName})" class="glyphicon glyphicon-plus icons"></a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<h2> Moderators</h2>
<div class="col-md-10">
    <div class="wrapper">
        <div class="tablelist">
            <div class="row header">
                <div class="cell">
                    <span>Email</span>
                </div>
                <div class="cell">
                    <span>Remove Role</span>
                </div>
            </div>
            @foreach (var item in Model.ModeratorsList)
            {
                <div class="row">
                    <div class="cell">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </div>
                    <a href="@Url.Action("RemoveRole", "Users", new {Username = item.UserName})" class="glyphicon glyphicon-minus icons"></a>

                </div>
            }
        </div>
    </div>
</div>