﻿@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>UkadTask</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/scripts/jquery-3.1.0.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.3/jquery.timeago.min.js"></script>
    <link href="/Content/Styles.css" rel="stylesheet">

    <script type="text/javascript">
        var $j = jQuery.noConflict();
        jQuery(document)
            .ready(function($) {
                $j("abbr.timeago").timeago();
                $("#hide")
                    .click(function() {
                        $("#hd").hide();
                    });
            });
    </script>
</head>
<body>
<div>
    @RenderBody()
</div>
</body>
</html>