﻿@model InternetProvider.ViewModels.Reports.ReportsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ShowReportsByDate", "Reports", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="col-xs-3">
        @Html.TextBoxFor(m => m.DateFrom, "{0:yyyy-M-d}", new {required = "required", type = "text", placeholder = "Date From...", id = "datepick", @class = "form-control input-lg " , value = Model.DateFrom})
    </div>

    <div class="col-xs-3">
        @Html.TextBoxFor(m => m.DateTo, "{0:yyyy-M-d}", new { required = "required", type = "text", placeholder = "Date To...", id = "dateTo", @class = "form-control input-lg " , value = Model.DateTo })
    </div>
            <input type="submit" value="Show" />
}

<h2>Users</h2>
<div class="col-md-10">
    <div class="wrapper">
        <div class="tablelist">
            <div class="row header">
                <div class="cell">
                    <span> UserEmail</span>
                </div>
                <div class="cell">
                    <span> FIO</span>
                </div>
                <div class="cell">
                    <span> Registration Time</span>
                </div>
            </div>
            @if (Model.Users != null)
            {
                foreach (var item in Model.Users)
                {
                    <div class="row">
                        <div class="cell">
                            @item.Email
                        </div>
                        <div class="cell">
                            <span>@item.FirstName @item.LastName</span>
                        </div>
                        <div class="cell">
                            <span>@item.RegistrationTime</span>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<h2>Applications</h2>
<div class="col-md-10">
    <div class="wrapper">
        <div class="tablelist">
            <div class="row header">
                <div class="cell">
                    <span>AccountId</span>
                </div>
                <div class="cell">
                    <span> FIO</span>
                </div>
                <div class="cell">
                    <span> Status</span>
                </div>
                <div class="cell">
                    <span> Time</span>
                </div>
            </div>
            @if (Model.Applications != null)
            {
                foreach (var item in Model.Applications)
                {
                    <div class="row">
                        <div class="cell">
                            @item.AccountId
                        </div>
                        <div class="cell">
                            <span>@item.FirstName @item.LastName</span>
                        </div>
                        <div class="cell">
                            <span>@item.Status</span>
                        </div>
                        <div class="cell">
                            <span>@item.ApplicationTime</span>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    document.getElementById('datepick').value = null;
</script>
<script type="text/javascript">
    document.getElementById('dateTo').value = null;
</script>



