﻿@model Blog.ViewModel.CommentViewModel

<main>
    @using (Html.BeginForm("Index", "Guest", FormMethod.Post, new {@class = "contact_form"}))
    {
        @Html.AntiForgeryToken()
        <table>
            <tr>
                <td align="right">Name:</td>
                <td>@Html.TextBoxFor(model => model.AuthorName, new {required = "required"})</td>
                @Html.ValidationMessageFor(model => model.AuthorName)
            </tr>

            <tr>
                <td align="right">Time:</td>
                <td>@Html.DisplayFor(model => model.Time)</td>
                @Html.HiddenFor(model => model.Time)
            </tr>

            <tr>
                <td align="right">Comment:</td>
                <td>
                    @Html.TextAreaFor(model => model.UserComm, new {required = "required", @class = "textarea"})
                </td>
            </tr>
            <tr>
                <td align="right"></td>
                <td>
                    <input type="submit" name="submit" class="styled-button-1" value="Send">
                </td>
            </tr>
        </table>
    }
    @Html.Partial("_Partial")
</main>