﻿<!DOCTYPE html>

<html>
<head>
    <title>InternetProvider</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/scripts/jquery-3.1.0.min.js")
    @Scripts.Render("~/scripts/bootstrap.js")
    @Scripts.Render("~/scripts/jquery-ui-1.12.0.js")
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
    @Scripts.Render("~/Scripts/datepicker.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
    @Styles.Render("~/Content/Adminstyles.css")
    @Styles.Render("~/Content/bootstrap-multiselect.css")
    @Scripts.Render("~/Scripts/bootstrap-multiselect.js")
</head>
<body>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo">
                    <h1>
                        <a href="@Url.Action("Index", "AdminPanel")">ApexHome Admin Panel</a>
                    </h1>
                </div>
            </div>
            <div class="col-md-8">
                <div class="navbar navbar-inverse" role="banner">
                    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    @User.Identity.Name <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu animated fadeInUp">
                                    <li>@Html.ActionLink("Profile", "Index", "Profile")</li>
                                    <li>
                                        @using (Html.BeginForm("LogOff", "Auth", FormMethod.Post, new {id = "logoutForm"}))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                                        }</li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <li class="current">
                        <a href="@Url.Action("Index", "AdminPanel")"><i class="glyphicon glyphicon-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Rates")"><i class="glyphicon glyphicon-list-alt"></i> Rates</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "News")"><i class="glyphicon glyphicon-pencil"></i> News</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Services")"><i class="glyphicon glyphicon-list"></i> Services</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Users")"><i class="glyphicon glyphicon-user"></i> Users</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Coverage")"><i class="glyphicon glyphicon-map-marker"></i> Coverage</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Application")"><i class="glyphicon glyphicon-tasks"></i> Applications</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "AdditionalFeatures")"><i class="glyphicon glyphicon-th-list"></i>Additional Features</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Comment")"><i class="glyphicon glyphicon-comment"></i> Comments</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Reports")"><i class="glyphicon glyphicon-comment"></i> Reports</a>
                    </li>
                </ul>
            </div>
        </div>
        @RenderBody()
    </div>
</div>
<footer>
    <div class="container">

        <div class="copy text-center">
            Copyright 2016 ApexHome
        </div>

    </div>
</footer>
</body>
</html>