input[type="text"],
input[type="password"],
textarea,
textarea.form-control {
    -moz-border-radius: 4px;
    -moz-box-shadow: none;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: none;
    -webkit-transition: all .3s;
    background: #fff;
    border: 3px solid #fff;
    border-radius: 4px;
    box-shadow: none;
    color: #888;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    line-height: 50px;
    margin-top: 10px;
    padding: 0 20px;
    transition: all .3s;
    vertical-align: middle;
}

textarea,
textarea.form-control {
    line-height: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
textarea.form-control:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: #fff;
    border: 3px solid #fff;
    box-shadow: none;
    outline: 0;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }