a, a:hover, a:focus {
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    color: #de615e;
    text-decoration: none;
    transition: all .3s;
}

img { max-width: 100%; }

::-moz-selection {
    background: #de615e;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #de615e;
    color: #fff;
    text-shadow: none;
}


.btn-link-1 {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #de615e;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    height: 50px;
    line-height: 16px;
    margin: 5px;
    padding: 16px 20px 0 20px;
}

.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active {
    color: #fff;
    opacity: 0.6;
    outline: 0;
}

.btn-link-1.btn-link-1-facebook { background: #4862a3; }

.btn-link-1.btn-link-1-twitter { background: #55acee; }

.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
    font-size: 20px;
    line-height: 20px;
    padding-right: 5px;
    vertical-align: middle;
}

.btn-link-2 {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    height: 50px;
    line-height: 16px;
    margin: 5px;
    padding: 15px 20px 0 20px;
}

.btn-link-2:hover, .btn-link-2:focus,
.btn-link-2:active, .btn-link-2:active:focus {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    opacity: 0.6;
    outline: 0;
}


/***** Top content *****/

.inner-bg { padding: 100px 0 170px 0; }

.top-content .text { color: #fff; }

.top-content .text h1 { color: #fff; }

.top-content .description { margin: 20px 0 10px 0; }

.top-content .description p { opacity: 0.8; }

.top-content .description a { color: #fff; }

.top-content .description a:hover,
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box { margin-top: 35px; }

.form-top {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    background: #444;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    padding: 0 25px 15px 25px;
    text-align: left;
}

.form-top-left {
    float: left;
    padding-top: 25px;
    width: 75%;
}

.form-top-left h3 {
    color: #fff;
    margin-top: 0;
}

.form-top-left p {
    color: #fff;
    opacity: 0.8;
}

.form-top-right {
    color: #fff;
    float: left;
    font-size: 66px;
    line-height: 100px;
    opacity: 0.3;
    padding-top: 5px;
    text-align: right;
    width: 25%;
}

.form-bottom {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    background: #444;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0 0 4px 4px;
    padding: 25px 25px 30px 25px;
    text-align: left;
}

.form-bottom form textarea { height: 100px; }

.form-bottom form button.btn { width: 100%; }

.form-bottom form .input-error { border-color: #de615e; }