﻿@model InternetProvider.ViewModels.PaymentViewModel
<div class="container well">
    @using (Html.BeginForm("Success", "Payment", FormMethod.Post, new {@class = " form-horizontal"}))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Payment Form</legend>
            @ViewBag.Message
            <div class="form-group">
                <label class="col-xs-4 col-form-label">Account Number</label>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="col-md-4">
                        @Html.DisplayFor(model => model.AccountId)
                        @Html.HiddenFor(model => model.AccountId)
                    </div>
                }
                else
                {
                    @Html.TextBoxFor(model => model.AccountId, new {required = "required"})
                }
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-form-label">Time</label>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.Date)
                    @Html.HiddenFor(model => model.Date)
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-form-label">Money</label>
                @Html.TextBoxFor(model => model.Sum, new {name = "sum", required = "required" , id="sum"})
            </div>           
            <div class="form-group">
                <label class="col-xs-4 col-form-label">Val</label>
                @Html.DropDownListFor(m => m.SelectedVal, new SelectList(ViewBag.PartialTypes, "Value", "Text"), new { id = "Type" })
            </div>

            <div class="form-group">
                <div class="col-md-8">
                    <button type="submit" class="btn btn-success btnkey">Pay</button>
                </div>
            </div>
        </fieldset>
    }
</div>
<script>
    $(document).ready(function () {
        $('#Type').change(function () {
        $('#sum').val($(this).val()*$('#sum').val());
        });
    });
</script>